@font-face {
    font-family: "DINRoundPro";
    src: url("din round/DINRoundPro-Bold.woff2") format("woff2"),
        url("din round/DINRoundPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINRoundPro";
    src: url("din round/DINRoundPro-Black.woff2") format("woff2"),
        url("din round/DINRoundPro-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINRoundPro";
    src: url("din round/DINRoundPro.woff2") format("woff2"),
        url("din round/DINRoundPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINRoundPro";
    src: url("din round/DINRoundPro-Light.woff2") format("woff2"),
        url("din round/DINRoundPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINRoundPro-Medi";
    src: url("din round/DINRoundPro-Medi.woff2") format("woff2"),
        url("din round/DINRoundPro-Medi.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
