.center-text {
    font-size: 27px;
    font-weight: 700;

    position: relative;
    top: 8px;
    color: #3c3c3c;
}
label {
    font-size: 15px;
    color: rgb(75, 75, 75);
    font-weight: 700;

    cursor: pointer;
}
.center {
    height: 100%;
}
.password-old {
    margin-top: 60px;
    margin-left: 40px;
    position: relative;
}

#password-old {
    width: 330px;
    height: 45px;
    border-radius: 16px;
    border: 2px solid rgb(229, 229, 229);
    padding-left: 10px;
    color: rgb(75, 75, 75);
    font-size: 15px;
    background-color: #f7f7f7;
    outline-color: #afafaf;
    position: absolute;
    top: 0;
    left: 160px;
    margin-top: -15px;
}
#password-new {
    width: 330px;
    height: 45px;
    border-radius: 16px;
    border: 2px solid rgb(229, 229, 229);
    padding-left: 10px;
    color: rgb(75, 75, 75);
    font-size: 15px;
    background-color: #f7f7f7;
    outline-color: #afafaf;
    margin-left: 35px;
}
.password-new {
    margin-top: 60px;
    margin-left: 65px;
}
.line-2 {
    margin-top: 70px;
}
