* {
    font-family: "DINRoundPro", sans-serif;
}

.sucess-img{
    position: absolute;
    left: -2.12%;
    top: 20%;
}
h1{
    margin-top: 27%;
}
p{
    color: #FFF;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 580px;
    max-width: 380px;
    text-align: center;
    line-height: 22px;
}
.start-14{
    margin-top: -25px;
}