* {
    font-family: "DINRoundPro", sans-serif;
}

.logo {
    width: 128px;
    height: 40px;
}
.header-logo {
    padding: 40px 0 30px 26px;
    width: 222px;
    height: 50px;
}
.header {
    width: 230px;
    height: 100vh;
    border-right-style: solid;
    border-right-width: 1.6px;
    position: fixed;
    top: 0;
    border-color: rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    z-index: 999;
}
.header-menu {
    width: 222px;
    height: 250px;
    padding-left: 12px;
    margin-top: -15px;
}
.menu-item,
.menu-item-active {
    width: 205px;
    height: 45px;
    margin-bottom: 25px;
}
/* Định dạng cho active */
.menu-item-active {
    background-color: #ddf4ff;
    border-radius: 12px;
    border-color: #84d8ff;
    margin-left: -1.6px;
    border-width: 1.6px;
    border-style: solid;
}
.menu-item-active .menu-text {
    color: #1cb0f6;
}
/* End */
.menu-item:hover {
    border-color: transparent;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 0;
    border-radius: 12px;
}
.menu-text {
    display: flex;
    margin-top: -25px;
    position: relative;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #777;
}
.school-text {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: #777;
    margin-left: 10px;
    position: relative;
    top: -8px;
}
.item-icon {
    margin-top: 5px;
    margin-left: 10px;
    width: 32px;
    height: 32px;
}
.icon-school {
    margin-left: -22px;
    width: 32px;
    height: 32px;
}
.menu-more::before {
    content: "";
    background-color: transparent;
    position: absolute;
    left: 180px;
    right: 0px;
    height: 25px;
    transform: translateY(20px);
}
.menu-more {
    width: 220px;
    height: 200px;
    border-style: solid;
    border-radius: 12px;
    border-width: 1.7px;
    margin-left: 210px;
    margin-top: -42px;
    border-color: rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    display: none;
}
.more-ul li {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    color: #777;
    margin-left: -41px;
    margin-bottom: 8px;
    width: 200px;
    padding-left: 22px;
    /* display: flex;
    justify-content: center; */
}
.more-ul li:hover {
    border-color: transparent;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 0;
}
a {
    text-decoration: none;
}
.more-ul {
    position: relative;
    line-height: 35px;
    list-style: none;
    text-decoration: none;
}
/* hover xem them */
.menu-item:hover .menu-more {
    display: block;
}
hr {
    display: block;
    margin-top: 9px;
    margin-left: -40px;
    width: 220px;
    border-width: 1px;
    border-color: rgb(229, 229, 229);
}
.more-ul-school {
    margin-top: -10px;
    margin-left: -40px;
    height: 45px;
    width: 190px;
    padding-left: 30px;
    position: relative;
}
/* hover school */
.more-ul-school:hover {
    border-color: transparent;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 0;
    border-radius: 1px;
    position: relative;
}
/* CSS Phan giua */
/* Unit 1 */
.unit-1 {
    width: 590px;
    height: 700px;
    margin-left: 360px;
    border-width: 1px;
    margin-top: 20px;
}
.header-unit-1 {
    margin-top: 10px;
    height: 108px;
    background-color: #58cc02;
    border-radius: 13px;
    padding-left: 17px;
}
h1 {
    position: relative;
    font: sans-serif;
    font-size: 23px;
    padding-top: 21px;
    color: #fff;
    font-weight: 700;
}
p {
    font-size: 17px;

    color: #fff;
    font-weight: 500;
}
.btn-guide {
    position: absolute;
    margin-left: 400px;
    margin-top: -75px;
    width: 157px;
    height: 52px;
    background-color: #58cc02;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn-guide:hover {
    filter: brightness(1.1);
}
.btn-text {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: -7px;
    left: 5px;
    font-weight: 700;
}
.btn-guide-icon {
    margin-top: 5px;
}
.btn-lession {
    margin-left: 250px;
    margin-top: 5px;
    width: 98px;
    height: 98px;
    position: relative;
}
.btn-start {
    width: 98px;
    height: 98px;
}
.btn-start-border {
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 78px;
    height: 45px;
    position: relative;
    top: 17px;
    left: 7px;
}
.btn-start-text {
    position: relative;
    width: 52px;
    height: 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #58cc02;
    top: 15px;
    left: 10px;
}
/* Chỉnh nhỏ hình ảnh và di chuyển */
.btn-icon {
    width: 70px;
    height: 68px;
}
.btn-book {
    position: relative;
    margin-top: 48px;
    margin-left: 215px;
}
.btn-lock {
    margin-left: 185px;
    margin-top: 7px;
}
.btn-treasure {
    margin-left: 220px;
    margin-top: 25px;
}
.btn-book-2 {
    margin-left: 260px;
    margin-top: 7px;
}
.btn-cup {
    margin-left: 260px;
    margin-top: 10px;
}
.duo-gift {
    width: 110px;
    height: 120px;
    margin-top: -340px;
    margin-left: 380px;
}
.duo-gift-resize {
    height: 115px;
    width: 105px;
}
/* End */
/* Unit 2 */
.unit-2 {
    width: 590px;
    height: 700px;
    margin-left: 360px;
    border-width: 1px;
    margin-top: -20px;
}
.header-unit-2 {
    margin-top: 10px;
    height: 108px;
    background-color: #ce82ff;
    border-radius: 13px;
    padding-left: 17px;
}
.unit2 {
    background-color: #ce82ff;
}
.u2 {
    color: #1cb0f6;
    margin-left: 4px;
}
.girl-resize {
    width: 118px;
    height: 175px;
}
.girl-u2 {
    width: 120px;
    height: 175px;
    margin-top: -400px;
    margin-left: 40px;
}
.btn-jump {
    height: 60px;
    width: 70px;
    margin-top: 18px;
    margin-left: 12px;
}
/* Unit 3 */
.unit-3 {
    width: 590px;
    height: 700px;
    margin-left: 360px;
    border-width: 1px;
    margin-top: -20px;
}
.header-unit-3 {
    margin-top: 10px;
    height: 108px;
    background-color: #00cd9c;
    border-radius: 13px;
    padding-left: 17px;
}
.unit3 {
    background-color: #00cd9c;
}
.u3 {
    color: #00cd9c;
    margin-left: 4px;
}
/*Header right*/
.header-right {
    width: 368px;
    height: 2070px;
    position: relative;
    margin-top: -2090px;
    margin-left: 1000px;
}
.num {
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #ff9600;
    font-size: 17px;
    line-height: 20px;
    margin-top: -25px;
    margin-left: 30px;
}
.ruby {
    position: absolute;
    top: 0;
    left: 90px;
}
.ruby-num {
    color: rgb(255, 75, 75);
}
.superduo-icon {
    width: 32px;
    height: 26px;
}
.superduo-text {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #3f22ec;
    justify-content: center;
    position: relative;
    top: -5px;
    left: 10px;
}
.super-duo {
    position: absolute;
    top: 0;
    left: 170px;
}
.try-super {
    width: 365px;
    height: 243px;
    margin-top: 35px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
}
.try-super-img {
    width: 340px;
    height: 150px;
    margin-left: 20px;
}
.btn-trysuper-2w {
    width: 328px;
    height: 46px;
    margin-top: -70px;
    margin-left: 20px;
    background: #3c4dff;
    box-shadow: 0px 4px 0px #3f22ec;
    border-radius: 16px;
    transition: all 0.2s ease;
}
.btn-trysuper-2w:hover {
    filter: brightness(1.2);
}
.btn-trysuper-2w-text {
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    top: 15px;
    left: 90px;
}
.leaderboard {
    width: 365px;
    height: 173px;
    margin-top: 55px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
}
.leaderboard-header {
    position: absolute;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #4b4b4b;
    margin-top: 26px;
    margin-left: 31px;
}
.lock-leaderboard-img {
    position: absolute;
    margin-top: 80px;
    margin-left: 40px;
}
.leaderboard-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    width: 204.68px;
    height: 50px;
    color: #777777;
    position: absolute;
    margin-top: 85px;
    margin-left: 116px;
}
.xp-progress {
    height: 400px;
    width: 365px;
    margin-top: 30px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
}
.xp-progress-header-text {
    width: 132px;
    height: 26px;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #4b4b4b;
    display: flex;
    margin-top: 20px;
    margin-left: 26px;
}
.edit-goal {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-left: 265px;
    color: #1cb0f6;
    position: relative;
    top: -22px;
}
.xp-treasure-img {
    margin-left: 25px;
}
.daily-goal-text {
    position: absolute;
    width: 72px;
    height: 25px;

    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #777777;
    margin-top: 10px;
    margin-left: 14px;
}
.border-xp {
    width: 160.5px;
    height: 14px;
    background: #e5e5e5;
    border-radius: 7px;
    margin-left: 115px;
    margin-top: -32px;
    position: relative;
}
.sum-xp-text {
    width: 65px;
    height: 20px;

    font-weight: 500;
    font-size: 15px;
    position: absolute;
    color: #afafaf;
    left: 290px;
    margin-top: -15px;
}
.analytic-img {
    width: 320px;
    height: 220px;
    margin-left: 22px;
    margin-top: 40px;
}
.remove-ad {
    height: 335px;
    width: 365px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    margin-top: 25px;
    background: #000437;
}
.remove-duo-img {
    position: absolute;
    margin-top: -337px;
    margin-left: 110px;
    width: 150px;
    height: 75px;
}
.remove-header {
    width: 214px;
    height: 30px;

    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    margin-top: -250px;
    margin-left: 80px;
}
.remove-title {
    width: 290px;
    height: 50px;

    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: -215px;
    left: 40px;
    display: flex;
    text-align: center;
}
.btn-trysuper-free {
    position: absolute;
    margin-top: -165px;
    margin-left: 25px;
    width: 320px;
    height: 46px;
    background: #ffffff;
    box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}
.btn-trysuper-free-text {
    width: 160px;
    height: 18px;

    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #000437;
    display: flex;
    margin-top: 15px;
    margin-left: 80px;
}
.btn-remove-ad {
    width: 165px;
    height: 20px;

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    margin-top: -90px;
    margin-left: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}
.backtotop {
    font-size: 50px;
    position: relative;
    margin-left: 500px;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(229, 229, 229);
    border-radius: 16px;
    box-shadow: 0 2px 0 rgb(229, 229, 229);
    cursor: pointer;
    display: none;
    transition: all 0.2s linear 0s;
}
.backtotop:hover {
    filter: brightness(0.9);
}
.muiten {
    position: relative;
    left: 16px;
    top: -10px;
}

/*! Error */
.error {
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.error.show {
    opacity: 1;
    visibility: visible;
}

.error-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 385px;
    padding: 25px;
    background: white;
    border-radius: 8px;
}

.error-content i {
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 30px;
    color: #4b4b4b;
    cursor: pointer;
}
.error-content__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 25px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 999px;
    color: white;
    background: #58cc02;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    pointer-events: none;
}

.error-content__desc {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: var(--secondary-text);
    pointer-events: none;
}
