body {
    color: var(--heading-color);
}

:root {
    --basic-color: rgb(229, 229, 229);
}

.btn {
    /* width: calc(100% - 30px); */
    padding: 16px 51.5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(175, 175, 175);
    background-color: rgb(229, 229, 229);
    box-shadow: 0 4px 0 #ccc;
    border: 2px solid #ccc;
    border-radius: 16px;
    transition: all 0.2s ease;
    margin-top: 24px;
}

.btn--primary:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--main-color);
    box-shadow: 0 4px 0 rgb(88, 167, 0);
    border: 2px solid rgb(88, 167, 0);
    color: white;
}

.learn {
    display: flex;
    flex-direction: column;
}

.learn-progress {
    width: 100%;
    padding: 42px 0 24px;
}

.learn-progress__bar i {
    position: absolute;
    left: -40px;
    top: -7px;
    font-size: 30px;
    color: var(--basic-color);
    transition: all 0.2s ease;
}

.learn-progress__bar i:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.learn-progress__bar {
    position: relative;
    width: 1086px;
    max-width: calc(100% - 48px);
    height: 16px;
    margin: 0 auto;
    background-color: var(--basic-color);
    border-radius: 999px;
    transition: all 0.2s ease;
}

.learn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 100px auto 0;
}

.learn-content__heading {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.learn-content__character {
    position: relative;
    margin-bottom: 40px;
}

.learn-content__character__message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 25px;
    right: -246px;
    position: absolute;
    padding: 10px 20px;
    border-radius: 999px;
    color: var(--heading-color);
    border: 2px solid #ccc;
}

.learn-content__character__message__speaker {
    cursor: pointer;
    font-size: 24px;
}

.learn-content__speaker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.learn-content__speaker--normal {
    font-size: 50px;
    cursor: pointer;
}

.learn-content__speaker--slow {
    font-size: 20px;
    cursor: pointer;
}

.learn-content-grid {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
}

.learn-content__input {
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    font-family: "DINRoundPro", sans-serif;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
}

.learn-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 185px;
    height: 163px;
    padding: 24px;

    background-color: white;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 10px;
    bottom: -2px;
    box-shadow: 0 2px 0 rgb(229, 229, 229);
    transition: all 0.1s ease;
    cursor: pointer;
}

.learn-content-item--listen {
    width: auto;
    height: 50px;
    padding: 10px;
}

.learn-content-item--selected {
    background-color: #ddf4ff;
    border: 2px solid rgb(132, 216, 255);
    box-shadow: 0 2px 0 rgb(132, 216, 255);
}

.learn-content-item:hover {
    filter: brightness(0.9);
}

.learn-content-item__img {
    width: 80%;
}

.learn-content-item__img img {
    height: 80px;
    width: 100%;
}

.learn-content-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.learn-content-item-info__heading {
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.learn-content-item-info__desc {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

.learn-content-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.learn-content-flex__signUp {
}

.learn-content-flex__logIn {
    box-shadow: 0 4px 0 #ccc;
    border: 2px solid #ccc;
}

.learn-content-flex__logIn:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

a {
    text-decoration: none;
    display: block;
    color: white;
}
