.code-text{
    color: #777;
    font-size: 17px;
    line-height: 25px;
    font-family: sans-serif;
    padding-top: 42px;
}
.center{
    height: 100%;
}
.hr-checkbox{
    border-bottom-style: none ;
}
.textbox-code{
    outline: none;
    width: 100%;
    height: 44px; 
    background-color: rgb(247, 247, 247);
    border-radius: 16px;
    border: 2px solid rgb(229, 229, 229);
    color: rgb(75, 75, 75);
    font-size: 17px;
    caret-color:  rgb(28, 176, 246);
    margin-top: 15px;
    padding-left: 20px;
}
.btn-send{
    border-radius: 16px;
    width: 127px;
    height: 44px;
    background-color: #e5e5e5;
    color: #afafaf;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
}
.ql-hr-2{
    margin-top: -150px;
    border-top-style: solid;
    border-color: rgb(229, 229, 229);
    border-width: 2px;
}