
.center{
    height: 100%;
}
.ql-hr-2{
    margin-top: -50px;
}
.chek{
   margin-top: 55px;
   margin-left: 140px;
}
.tick{
   margin-bottom: 115px;
}
h6{
    font-size: 16px;
    color: #3c3c3c;
    font-family: sans-serif;
    font-weight: 700;
}
.pra-text{
    color: #999;
    font-size: 16px;
    line-height: 25px;
    font-family: sans-serif;
    margin-top: -30px;
    width: 380px;
    height: 66px;
    line-height: 22px;
}
._ak47{
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: 200px;
    line-height: 22px;
    cursor: default;
}