* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: din-round, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --text-color: #777777;
    --heading-color: #4b4b4b;
    --main-color: #58cc02;
    --bgr-color: rgba(35, 83, 144);
    --bgr-star: url(https://d35aaqx5ub95lt.cloudfront.net/images/4986531ca822d48e57b4a18f40ff5172.svg);
}

body {
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--bgr-color);
    background-image: var(--bgr-star);
}
