body {
    color: var(--heading-color);
}

.survey {
    display: flex;
    flex-direction: column;
}

.survey-progress {
    width: 100%;
    padding: 24px 0;
}

.survey-progress__bar i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

.survey-progress__bar {
    position: relative;
    width: 1086px;
    max-width: calc(100% - 48px);
    height: 16px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 999px;
}

.survey-content {
}

.survey-content__heading {
}

.survey-content-grid {
}

.survey-content-item {
}

.survey-content-item__img {
}

.survey-content-item__desc {
}
