body {
    color: var(--heading-color);
}

.survey {
    display: flex;
    flex-direction: column;
}

.survey-progress {
    width: 100%;
    padding: 24px 0;
}

.survey-progress__bar i {
    position: absolute;
    left: -30px;
    top: -7px;
    font-size: 30px;
    color: var(--text-color);
}

.survey-progress__bar {
    position: relative;
    width: 1086px;
    max-width: calc(100% - 48px);
    height: 16px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 999px;
}

.survey-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.survey-content__heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.survey-content-grid {
}

.survey-content-item {
}

.survey-content-item__img {
}

.survey-content-item__desc {
}
